#case-de-sucesso{

}
#case-de-sucesso a{
    text-decoration: none;
    color: white;
    background-color: #2C130C;
    transition: transform 0.3s ease-in-out;
}
#case-de-sucesso a:hover{
    color: #2C130C;
    background-color: rgba(233, 159, 10, 1);
    animation: pulse 1.5s infinite;
    transform: scale(1.11);
}